.tellerCard-drawer {
  overflow: auto;
  height: 60%;
  position: relative;
  text-align: center;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.9);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  /* background-image: linear-gradient(
        to bottom,
        #4668fd 15%,
        #4668fd 5%,
        rgba(255, 255, 255, 0.9) 15%
      );  */
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);

  top: 0;
  left: 0;
  width: 100%;
  max-width: 740px;
  z-index: 1000;
  transform: translateY(150%);
  opacity: 0;
  transition: all 0.2s ease-out;
}

.tellerCardButton {
  width: 45%;
  font-weight: 500;
  border-radius: 10px;
  color: #fff !important;
  background-color: #4282f1 !important;
}

.tellerCard-drawer.open {
  z-index: 999999;
  border: 5px solid red;
  transform: translateY(79%);
  opacity: 1;
  transition: all 0.2s ease-out;
}

.background-transparent {
  background: #fff;
  border-radius: 0px 0px 10px 10px;
}

.background-white {
  background: #ffffff;
  border-radius: 10px;
}

.card-title {
  margin: 0.75rem;
  text-transform: capitalize;
}

.no-border {
  border: none;
  background: rgba(255, 255, 255, 0.9);
}

.col-border {
  border-right: 1px solid #4282f1;
}

.text-header {
  line-height: 0px;
  color: #4282f1;
}

.text-sub-header {
  line-height: 0px;
  color: #121e38;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  .tellerCard-drawer {
    height: 46%;
  }
}

@media screen and (min-height: 812px) {
  .tellerCard-drawer {
    height: 65%;
  }
}

@media screen and (max-width: 414px) {
  .tellerCard-drawer {
    height: 73%;
  }

  .tellerCard-drawer.open {
    transform: translateY(45%);
    opacity: 1;
    transition: all 0.2s ease-out;
  }
}

@media screen and (max-width: 414px) and (min-height: 700px) {
  .tellerCard-drawer {
    height: 103%;
  }

  .tellerCard-drawer.open {
    transform: translateY(45%);
    opacity: 1;
    transition: all 0.2s ease-out;
  }
}
