/* add css module styles here (optional) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f1f1f1;
  color: #333;
}

/* .container {
  margin: auto;
  height: 100vh;
  width: 100vw;
  font-size: 2em;
  text-align: center;
}

.mapboxgl-popup {
  z-index: 1;
} */
